<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="khumeal.kavehshahedi.ir.kharazmimeal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:testOnly="false"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".SplashActivity" android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ReserveActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".FoodPopupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".PaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <receiver android:name=".Services.AlarmBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".Services.NotificationReceiver"/>

        <activity android:name=".AboutUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>